name: Deploy StickyBoard

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to Production Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            set -e
            echo "Entering app directory..."
            cd /var/www/html/stickyboard.aedev.pro

            echo "Fetching latest code..."
            git fetch --all
            git reset --hard origin/main

            echo "Rebuilding docker containers..."
            docker compose build --no-cache

            echo "Starting containers..."
            docker compose up -d

            echo "Removing unused images..."
            docker image prune -f

            echo "Deployment complete."
